<configuration>
	<!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->
	<system.webServer>
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
		</handlers>
		<aspNetCore processPath="dotnet" arguments=".\Bai.Media.Web.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
			<environmentVariables>
				<!-- Note: force QA ASPNETCORE_ENVIRONMENT parameter after deployment
				Source: https://stackoverflow.com/questions/41546943/how-to-set-aspnetcore-environment-to-be-considered-for-publishing-an-asp-net-cor -->
				<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="QA" />
			</environmentVariables>
		</aspNetCore>
	</system.webServer>
</configuration>